<div class="col-xs-3">
	<div class="thumbnail">
		<% if folder.pictures.any? %>
			<%= link_to image_tag(folder.pictures.first.thumbnail.pic.url), edit_folder_path(folder.id) %>
		<% else %>
			<%= link_to image_tag("folder.png", alt: "folder"), edit_folder_path(folder.id) %>
		<% end %>
		<div class="caption">
			<p><strong><%= "#{folder.title}" %></strong></p>
			<div class="row">
			<div class="col-xs-1">
				<%= link_to "Edit", edit_folder_path(folder), class: "btn btn-primary" %>
			</div>
				<% message = "Are you sure you want to delete #{folder.title}?" %>
				<div class="col-xs-offset-8">
					<%= link_to "Delete", folder, method: :delete, data: {confirm: message}, class: "btn btn-danger delete" %>
				</div>
			</div>
		</div>
	</div>
</div>