<% provide(:title, @folder.title) %>

<div class="container">
	<div class="row">
		<h1><%= @folder.title %></h1>
	</div>

	<div class="row">
		<div class="col-xs-4 col-xs-offset-4">
			<%= form_for(@folder) do |f| %>
				<%= f.label :title %>
				<%= f.text_area :title, class: "form-control" %>

				<%= f.submit "Save", class: "btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>