<div class="container-fluid">
	<h1><%="This is the page for the #{@folder.title}" %></h1>

	<div class="center jumbotron">
		<div class="row">
			<h2><%= "#{@folder.title} has no pictures in it." %></h2>
		</div>
		<div class="row">
			<%= form_for(Picture.new) do |f| %>
				<center><%= f.file_field :pictures, multiple: true, id: "file_input" %></center>
				<div><%= hidden_field_tag :folder, @folder.id %></div>
				<%= f.submit "Add Pictures", class: "btn btn-primary btn-large" %>
			<% end %>
		</div>
	</div>
</div>