<div class="container-fluid">
	<h1><%="This is the page for the #{@folder.title}" %></h1>	
	<% if @folder.pictures.any? %>
		<div class="row">
			<ol class="pictures">
				<%= render @pictures %>
			</ol>
		</div>
		<%= render 'add_picture' %>
	<% else %>
		<div class="center jumbotron">
			<div class="row">
				<h2><%= "#{@folder.title} has no pictures in it." %></h2>
			</div>
			<%= render 'add_picture' %>
		</div>
	<% end %>
</div>