<div class="col-xs-3">
	<div class="thumbnail">
		<%= render picture.thumbnail %>
		<div class="caption">
			<% if !picture.description.blank? %>
				<p><%= picture.description %></p>
			<% end %>
			<p><strong><%= "Order: #{picture.order}" %></strong></p>
			<div class="row">
			<div class="col-xs-1">
				<%= link_to "Edit", edit_picture_path(picture), class: "btn btn-primary" %>
			</div>
				<% message = "Are you sure you want to delete #{picture.title}?" %>
				<div class="col-xs-offset-8">
					<%= link_to "Delete", picture, method: :delete, data: {confirm: message}, class: "btn btn-danger delete" %>
				</div>
			</div>
		</div>
	</div>
</div>