<% if @pictures.count > 8 %>
	<ol class="picture-grid">
<% else %>
	<ol class="picture-grid-no-scroll">
<% end %>
		<div class="row">
			<% @pictures.each do |picture| %>
				<div class="col-xs-3">
					<li class="thumbnail">
						<%= form_for (@slideslot) do |f| %>
							<div><%= hidden_field_tag :picture_url, picture.picture %></div>
							<div><%= hidden_field_tag :picture_id, picture.id %></div>
							<div><%= f.hidden_field :caption %></div>
							<%= image_submit_tag picture.thumbnail.pic.url, class: "thumb-input" %>
						<% end %>
					</li>
				</div>
			<% end %>
		</div>
	</ol>